# Lista de Exercícios 1

1. Crie três variáveis e atribua os valores a seguir: a=1, b=5.9 e c=‘teste’. A 
partir disso, retorne o tipo de cada uma das variáveis.

In [1]:
a=1
b=5.9
c='teste'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

2. Troque o valor da variável a por ‘1’ e verifique se o tipo da variável mudou

In [2]:
a='1'
print(type(a))

<class 'str'>

3. Faça a soma da variável b com a variável c. Interprete a saída, tanto em caso 
de execução correta quanto em caso de execução com erro.

In [3]:
b+c

TypeError: unsupported operand type(s) for +: 'float' and 'str'

4. Crie uma lista com números de 0 a 9 (em qualquer ordem). Com ela, faça:
a. Adicione o número 6
b. Insira o número 7 na 3ª posição da lista
c. Remova o elemento 3 da lista
d. Adicione o número 4
e. Verifique o número de ocorrências do número 4 na list

In [13]:
lista = list(range(10))
print(lista)

lista.append(6)
print(lista)

lista.insert(2,7)
print(lista)

lista.remove(3)
print(lista)

lista.append(4)
print(lista)

lista.count(4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6]
[0, 1, 7, 2, 3, 4, 5, 6, 7, 8, 9, 6]
[0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6]
[0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

2

5. Ainda com a lista criada na questão anterior, faça:
a. Retorne os primeiros 3 elementos da lista
b. Retorne os elementos que estão da 3ª posição até a 7ª posição da lista
c. Retorne os elementos da lista de 3 em 3 elementos
d. Retorne os 3 últimos elementos da lista
e. Retorne todos os elementos menos os 4 últimos da lista

In [14]:
lista[:3]

[0, 1, 7]

In [15]:
lista[2:8]

[7, 2, 4, 5, 6, 7]

In [16]:
lista[::3] # start, stop, step

[0, 2, 6, 9]

In [18]:
lista[-3:]

[9, 6, 4]

In [19]:
lista[:-4]

[0, 1, 7, 2, 4, 5, 6, 7]

6. Com a lista das questões anteriores, retorne o 6º elemento da lista

In [20]:
lista[5]

5

7. Altere o valor do 7º elemento da lista para o valor 12

In [21]:
lista[6] = 12
print(lista)

[0, 1, 7, 2, 4, 5, 12, 7, 8, 9, 6, 4]

8. Inverta a ordem dos elementos na lista.

In [24]:
lista.reverse()
print(lista)

[4, 6, 9, 8, 7, 12, 5, 4, 2, 7, 1, 0]

9. Ordene a lista.

In [25]:
lista.sort()
print(lista)

[0, 1, 2, 4, 4, 5, 6, 7, 7, 8, 9, 12]

10. Crie uma tupla com números de 0 a 9 (em qualquer ordem) e tente:
a. Alterar o valor do 3º elemento da tupla para o valor 10
b. Verificar o índice (posição) do valor 5 na tupla

In [26]:
tupla = tuple(range(10))
tupla

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
tupla[2] = 10

TypeError: 'tuple' object does not support item assignment

In [28]:
tupla.index(5)

5

11. Crie um dicionário com 5 entradas e suas respectivas chaves e valores. Faça:
a. Imprima todas as chaves do dicionário
b. Imprima todos os valores do dicionário
c. Imprima todos os itens do dicionário
d. Imprima o 2º item do dicionário
e. Imprima o dicionário completo
f. Percorra o dicionário, imprimindo para cada entrada o modelo “(chave) 
tem como valor (valor)”

In [29]:
dic = {}
dic['arroz']=5
dic['feijao']=2
dic['acucar']=5
dic['oleo']=1
dic['azeite']=0.5

print(dic.keys())
print(dic.values())
print(dic.items())
print(list(dic.items())[1])

dict_keys(['arroz', 'feijao', 'acucar', 'oleo', 'azeite'])
dict_values([5, 2, 5, 1, 0.5])
dict_items([('arroz', 5), ('feijao', 2), ('acucar', 5), ('oleo', 1), ('azeite', 0.5)])
('feijao', 2)

In [30]:
for chave,valor in dic.items():
    print(chave, 'tem como valor', valor)

arroz tem como valor 5
feijao tem como valor 2
acucar tem como valor 5
oleo tem como valor 1
azeite tem como valor 0.5

12. Crie um arquivo e:
a. Escreva nele os números de 1 a 10
b. Depois de escrito, imprima na tela todos os números do arquivo
c. Escreva no arquivo os números de 11 a 20, substituindo os números que 
estavam antes no arquivo
d. Escreva no arquivo os números de 21 a 30, adicionando os números no 
final do arquivo (sem apagar o que já estavam lá)
e. Imprima na tela todos os números do arquivo novamente (de 11 a 30)
f. Imprima na tela todos os números do arquivo novamente, mas agora 
linha por linha

In [45]:
arquivo_criado = open('arquivo.txt', 'w')
arquivo_criado.write('Numeros de 1 a 10\n')
for i in range(1,11):
    arquivo_criado.write(str(i)+'\n')
arquivo_criado.close()   
    
arquivo_lido = open('arquivo.txt', 'r')
print(arquivo_lido.read())
arquivo_lido.close()

Numeros de 1 a 10
1
2
3
4
5
6
7
8
9
10

In [46]:
arquivo_criado = open('arquivo.txt', 'w')
arquivo_criado.write('Numeros de 11 a 20\n')
for i in range(11,21):
    arquivo_criado.write(str(i)+'\n')
arquivo_criado.close()

arquivo_lido = open('arquivo.txt', 'r')
print(arquivo_lido.read())
arquivo_lido.close()

Numeros de 11 a 20
11
12
13
14
15
16
17
18
19
20

In [47]:
arquivo_criado = open('arquivo.txt', 'a')
arquivo_criado.write('Numeros de 21 a 30\n')
for i in range(21,31):
    arquivo_criado.write(str(i)+'\n')
arquivo_criado.close()

arquivo_lido = open('arquivo.txt', 'r')
print(arquivo_lido.read())
arquivo_lido.close()

Numeros de 11 a 20
11
12
13
14
15
16
17
18
19
20
Numeros de 21 a 30
21
22
23
24
25
26
27
28
29
30